<div class="head-top">
  <div class="wrap">
    <h1>КОМПЛЕКТАЦИЯ</h1>
  </div>  
</div>
<div class="text-block">
  <h3>Кому подойдет эта услуга?</h3>
  <p>- У вас на руках готовый дизайн-проект. Вы хотите 100% его реализации, «как на картинке», но не знаете, где купить мебель, подобрать в цвет и тон отделочные материалы и текстиль, выбрать осветительное оборудование, сантехнику и т.д.;</p>
  <p>- Боитесь неоправданных затрат. Хотите максимально сократить Ваши расходы на приобретение материалов и обстановки, получить хороший сервис доставки и монтажа, гарантии и качество;</p>
  <p>- Вы мечтаете отстраниться от волнительного строительного процесса и получить в установленные сроки комфортный, продуманный, стильный дом для жизни и отдыха.</p>

  <div class="icon-list scrollView">
    <img src="img/1.png" alt="">
    <img src="img/2.png" alt="">
    <img src="img/3.png" alt="">
    <img src="img/4.png" alt="">
    <img src="img/5.png" alt="">
  </div>
</div>

<div class="images">
  <div class="swiper-wrapper">
      <img class="swiper-slide" src="img/photo/1.jpg" alt="">
      <img class="swiper-slide" src="img/photo/2.jpg" alt="">
      <img class="swiper-slide" src="img/photo/3.jpg" alt="">
      <img class="swiper-slide" src="img/photo/4.jpg" alt="">
      <img class="swiper-slide" src="img/photo/5.jpg" alt="">
      <img class="swiper-slide" src="img/photo/6.jpg" alt="">
      <img class="swiper-slide" src="img/photo/7.jpg" alt="">
      <img class="swiper-slide" src="img/photo/8.jpg" alt="">
      <img class="swiper-slide" src="img/photo/9.jpg" alt="">
      <img class="swiper-slide" src="img/photo/10.jpg" alt="">
    </div>

</div>

<div class="wrap">
  <h2>
    Задача и результат комплектации — реализация соответствует проекту.<br>
    Усилия, времязатраты и бюджет Заказчика сведены к разумному минимуму.
  </h2>
</div>

<div class="table">
  <table>
  <tr>
    <th>
      БАЗОВЫЙ ПОДБОР
    </th>
    <th>
     РАСШИРЕННЫЙ ПОДБОР
    </th>
    <th>
      полная комплектация
    </th>
  </tr>
  <tr>
    <td>входит в состав полного дизайн-проекта</td>
    <td>10% от стоимости закупаемых мебели и материалов дизайн-проекта</td>
    <td>30000 руб./мес. + 10% от стоимости закупаемой мебели и материалов дизайн-проекта</td>
  </tr>
  <tr>
    <td>
      <img src="img/6.png" alt="">
      <div style="margin-left: 80px; height: 170px;">
      <h3>
        ПРИНЦИП РАБОТЫ 
      </h3>
        <p>- Работа с бумажными и электронными каталогами;</p>
        <p>- Указание ориентировочных цветов и коллекций;</p>
        <p>- Составление ведомости на отделку и оборудование.</p>
      </div>
      <strong>Плюсы:</strong>
      <ul>
        <li>Вы можете проявить чудеса маркетингового исследования и найти самую низкую стоимость на данные материалы, избороздив бесконечные интернет просторы самостоятельно;</li>
        <li>Возможная экономия 7-10%;</li>
      </ul>
      <strong>Минусы:</strong>
      <ul>
        <li>Значительные время и трудозатраты на самостоятельный поиск;</li>
        <li>Нет возможности пощупать и посмотреть подобранное изделие;</li>
        <li>Нет гарантий правильного расчета количества материалов;</li>
        <li>Нет гарантий доставки материалов;</li>
        <li>Нет гарантий и ответственности поставщика за предоставление неправильных технических карт;</li>
        <li>Нет гарантий правильной технической комплектации оборудования, сантехники и т.д.;</li>
        <li>Самостоятельная приемка на объекте, проверка количества, комплектности и качества доставленных материалов;</li>
        <li>Самостоятельная работа с рекламациями.</li>
      </ul>
    </td>
    <td>
      <img src="img/7.png" alt="">
      <div style="margin-left: 110px; height: 170px;">
        <h3>ПРИНЦИП РАБОТЫ</h3>
        <p>- Подбор материалов с выездом в салоны и магазины поставщиков;</p>
        <p>- Составление расширенной спецификации на отделку и оборудование с учетом рыночной стоимости, наличия и сроков поставки;</p>
        <p>- Предоставление гарантий, консультаций, скидок.</p>
        </div>
      <strong>Плюсы:</strong>
      <ul>
        <li>Экономия времени на поиск и подбор соответствующей дизайн-проекту продукции;</li>
        <li>Маркетинговые исследования рынка на вопрос наиболее оптимального соотношения цена/качество;</li>
        <li>Консультации с высококвалифицированным менеджером, выдача всей технической информации;</li>
        <li>Грамотный расчет материалов с учетом запаса и подрезки под контролем дизайнера;</li>
        <li>Наглядное ознакомление с качеством и внешним видом закупаемого материала, тактильное исследование;</li>
        <li>Техническое сопровождение (тех. карты на сантехнику, осветительное оборудование и пр.);</li>
        <li>Подбор и согласование выкрасов и образцов заказных отделочных материалов;</li>
        <li>Гарантированное качество продукции;</li>
        <li>Гарантия доставки;</li>
        <li>Дополнительные скидки 10-15% от салонов для заказчика по случаю сотрудничества с дизайн-студией.</li>
      </ul>
      <strong>Минусы:</strong>
      <ul>
        <li>Закупочная стоимость в салонах выше, чем в интернет-магазинах на 7-10% посредством сервиса, обслуживания и гарантий;</li>
        <li>Самостоятельное составление графика поставки материалов в соответствии с календарем стройки, логистика;</li>
        <li>Самостоятельная приемка на объекте, проверка комплектации доставленных материалов, выявление брака, работа с поставщиками по замене и возврату.</li>
      </ul>
    </td>
    <td>
        <img src="img/8.png" alt="">
        <div style="margin-left: 110px; height: 170px;">
          <h3>ПРИНЦИП РАБОТЫ</h3>
          <p>- Мы выступаем как представители Заказчика и решаем все вопросы, связанные с поиском,
          <p>- Минимальное участие Заказчика в рабочем процессе;</p>
          <p>- Предоставление гарантий, консультаций, скидок.</p>
        </div>
        <strong>Плюсы:</strong>
        <ul>
          <li>Значительная экономия времени и расходов Заказчика путем грамотно организованному таймингу по заказу;</li>
          <li>Все вышеперечисленные услуги Расширенного подбора;</li>
          <li>Связь логистики с календарем стройки; </li>
          <li>Приемка товаров на Объекте, проверка количества, комплектности.</li>
          <li>Проверка товара на целостность. Замена товаров в случае брака. Работа с рекламациями.</li>
          <li>Дополнительные скидки 10-15% от салонов для Заказчика по случаю сотрудничества с дизайн-студией.</li>
        </ul>
        <strong>Минусы:</strong>
        <ul>
          <li>Закупочная стоимость в салонах выше чем в интернет-магазинах на 7-10% посредством сервиса, обслуживания и гарантий.</li>
        </ul>
    </td>
  </tr>
</table>
</div>



<div class="advant">
  <p>
    Мы работаем <b>открыто</b> и строим <b>прозрачные отношения</b> между нами, Вами и поставщиком. У нас есть агентские соглашения и выгодные дизайнерские скидки. Мы договариваемся с поставщиком добавить наш дизайнерский процент в Вашу клиентскую <b>скидку</b>. Клиент оплачивает дизайн студии услугу комплектации в размере 10% от стоимости закупок.
  </p>
  <p>
    Мы очень требовательны к своим поставщикам. Наши партнеры - это компании, с которыми мы работаем годами, они предоставляют нам не только лучшее обслуживание и гарантии, но и дополнительные дизайнерские скидки 10-15%, которыми мы делимся со своими клиентами!
  </p>
</div>


<div class="head-top">
  <div class="wrap">
    <h1>АВТОРСКИЙ НАДЗОР</h1>
  </div>  
</div>
<div class="text-block">
  <h2>
    Авторский надзор — еженедельные выезды дизайнера и контроль процесса воплощения дизайн-проекта.  
  </h2>
  
  <div class="icon-list scrollView2">
    <img src="img/9.png" alt="">
    <img src="img/10.png" alt="">
    <img src="img/11.png" alt="">
  </div>

  <ul class="check-list">
    <li>Авторский надзор поможет исключить необоснованные отступления от требований проектной, рабочей и сметной документации.  </li>
    <li>Результат строительных работ будет «как на картинке», а необходимые изменения, в связи с открывшимися в процессе стройки новыми обстоятельствами, будут практически незаметны;</li>
    <li>Дизайнером осуществляются еженедельные выезды на объект длительностью до 2 часов, в ходе которых идет постоянная коммуникации с бригадой рабочих, предоставление строителям необходимых пояснений и комментариев по вопросам реализации дизайн-проекта.</li>
    <li>Дизайнер поможет оперативно и своевременно сориентироваться, если в ходе строительства выясняется, что в проектную документацию необходимо внести изменения.</li>
    <li>Дизайнер делает фотофиксацию и ведет журнал авторского надзора, в котором отмечает выявленные недочеты, составляет и отправляет отчет клиенту. Запись о проведенной работе по авторскому надзору подтверждается подписями ответственных представителей заказчика и подрядчика.</li>
    <li>Дизайнер регулярно информирует заказчика о ходе выполнения работ и достигнутом прогрессе, консультирует по способам решения возникающих вопросов.</li>
  </ul>

</div>

<h2>
  СТОИМОСТЬ АВТОРСКОГО НАДЗОРА:<br>
  12000 руб./месяц<br>
  3000 руб./1 выезд
</h2>

<div class="advant">
  <strong>ВАЖНО!!!</strong>
  <p>Проблема, поджидающая на стройке – противоречие интересов дизайнера и прораба. Дизайнеру-проектировщику в первую очередь важны функциональность, эргономичность, эстетика интерьера, а строительной бригаде — простота реализации и минимальная трудозатратность.</p>
  <p>Если на объекте работает рекомендованная нами компания, то одного выезда дизайнера в неделю вполне достаточно, так как у нас уже отлажено взаимодействие, строители хорошо знакомы с высоким качеством нашей проектной документации и нашими требованиями строго её придерживаться.</p>
</div>

<div class="head-top">
  <div class="wrap">
    <h1>ТЕХНИЧЕСКИЙ НАДЗОР И УПРАВЛЕНИЕ СТРОИТЕЛЬСТВОМ</h1>
  </div>  
</div>

<div class="text-block">
  <h2>Технический надзор — контроль за качеством и последовательностью работ.</h2>
  <h2>Управление строительством — осуществление полного контроля над производственным процессом, начиная с поставки строительных материалов и необходимого оборудования, заканчивая передачей объекта заказчику.</h2>

  <div class="icon-list scrollView3">
    <img src="img/12.png" alt="">
    <img src="img/13.png" alt="">
    <img src="img/14.png" alt="">
  </div>
</div>

<ul class="check-list">
  <li>Разработка графика и контроль за соблюдением календарных сроков выполнения ремонтных, строительных и отделочных работ.</li>
  <li>Контроль качества, соблюдения технологий и последовательности в ходе выполнения ремонтных, строительных и отделочных работ, контроль соответствия используемых материалов и поставляемого оборудования дизайнерским и проектным решениям.</li>
  <li>Инженерный надзор, увязка всех смежников на проекте, функция представителя заказчика, согласование документов, выписывание пропусков, общение с местными инстанциями, приемка материалов.</li>
  <li>Увязка инженерных систем.</li>
  <li>Закупка и доставка черновых материалов.</li>
  <li>Участие в сдаче объекта заказчику.</li>
  <li>Найм и управление строительной бригады и других подрядчиков, координирование работы, решение спорных вопросов.</li>
  <li>Согласование смет смежных организаций на проведение ремонтных работ.</li>
</ul>

<h2>СТОИМОСТЬ ТЕХНИЧЕСКОГО НАДЗОРА И УПРАВЛЕНИЯ СТРОИТЕЛЬСТВОМ:<br>
ВКЛЮЧЕНА В СТРОИТЕЛЬНУЮ СМЕТУ</h2>
<div class="advant">
  <strong>
    ВАЖНО!!!
  </strong>
  <p>
    В услуге Управление строительством мы полностью берем реализацию вашего объекта на себя. Именно управление строительством и технический надзор способны полностью гарантировать заказчику своевременное и качественное окончание всех видов работ.
  </p>
  <p>
    <i>
      * Особое уточнение: мы не можем управлять строителями, нанятыми клиентом. Управление строительством возможно только в случае финансовой зависимости подрядчиков от руководителя проекта.
    </i>
  </p>
</div>